@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Rubik', sans-serif;
}

input:focus {
  border: 1px solid #c89979 !important;
}
.size {
  & img{
    width: 100%;
    height:800px;
    object-fit: cover;
    object-align: center;
    object-size: cover;
  }
}
.title {
  font-weight: 700;

  & p {
    color: #c89979;
  }

  & span {
    font-weight: normal;
  }

  & i {
    background-color: #c89979;
    border-radius: 50%;
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 13px;
  }
}

i {
  font-size: 18px;
}

header {
  background-color: #333;
  height: 100px;
  border-bottom: 1px solid #fff;

}

.btn {
  color: #fff;
  background-color: #c89979;

  &:hover {
    color: #fff !important;
    background-color: #333 !important;
  }
  &-search{
    &:hover{
      background-color: #c89979 !important;
    }
  }
  &-user {
    background-color: transparent;
    color: #fff !important;
    outline: none;
    border: none;
    padding: 0 20px;

  }

  &-cart {
    background-color: transparent;
    color: #fff !important;
    outline: none;
    border: none;

    & a {
      color: #fff !important;

    }
  }

  &-bar {
    margin-top: 7px;
  }

  &-subcribe {
    outline: none;
    border: none;


  }

  &-login, &-now {
    margin-top: 10px;
    border-radius: 0px;
    width: 150px;
    text-transform: uppercase;

  }

  &-register {
    margin-top: 10px;
    border-radius: 0px;
    width: 150px;
    text-transform: uppercase;
  }

  &-forgotpassword {
    margin-top: 10px;
  }

  &-updateCart {
    background-color: #333 !important;

    &:hover {
      background-color: #c89979 !important;
    }
  }

  &-continue {
    background-color: #333 !important;

    &:hover {
      background-color: #c89979 !important;
    }
  }

  &-checkout {
    background-color: #333 !important;
    font-weight: 700;

    &:hover {
      background-color: #c89979 !important;
    }
  }

  &-place {
    width: 100%;
    border-radius: 0px;

    &:hover {
      background-color: #333 !important;

    }
  }

  &-send {
    padding-left: 30px;
    padding-right: 30px;

  }

  &-add {
    padding: 8px 35px;

    &:hover {
      background-color: #333 !important;
      color: #fff !important;
      transition: all 0.3s linear;
    }
  }
  &-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 17px;

  }
}

.form {
  &-search {
    width: 350px;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
  }

  &-searchMobile {
    width: 88%;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;

    &:focus {
      border: 1px solid #c89979 !important;
    }
  }

  &-subcribe {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    background-color: #f1f1f1;
  }


}

nav {
  background-color: #333;
  height: 53px;
}

.nav {
  &-item {
    list-style: none;
    padding: 5px 20px;

    & button {
      color: #333 !important;
      background-color: transparent !important;

      &:active {
        color: #c89979 !important;
      }

      &:hover {
        color: #c89979 !important;
      }
    }
  }

  &-link.active {
    color: #c89979;
    border-radius: 5px;
    border: 1px solid #c89979;
  }

  &-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      color: #c89979;
    }
  }
}

.slider {
  &-img {
    & img {
      width: 1300px;
    }
  }
}

.best {
  &-deal {
    padding: 20px 0;
  }

  &-seller {
    padding: 20px 0;
  }
}

.card {

  &-product {
    &__name {
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    & a {
      text-decoration: none;
      color: #525252;

      &:hover {
        color: #c89979;
        transition: all 0.3s ease;

      }
    }

    &__new {
      padding: 0 5px;
      color: #c89979;
      font-weight: 700;

    }

    &__old {
      padding: 0 5px;
    }
  }

  &-btn {
    top: 45%;
    left: 35%;
    display: none;

    &__cart {
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: #c89979;
      color: #fff;
      width: 50px;
      height: 50px;
    }

    &__search {
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: #c89979;
      color: #fff;
      width: 50px;
      height: 50px;
    }
  }

  &-label {

    &__discount {
      top: 0;
      left: 0;
      background-color: #e81a1a;
      color: #fff;
      border-radius: 5px;
      font-size: 18px;
      padding: 7px 15px;
    }
  }
}

footer {
  background-color: #333333;
  color: #fff;
}

// breadcrumbs
.breadcrumb-section {
  height: 50px;
  margin-bottom: 50px;
}

.breadcrumb-item {
  color: #c89979 !important;
  font-weight: 700;

  & a {
    text-decoration: none;
    color: #6c75a5 !important;

    &:hover {
      color: #c89979 !important;
      transition: all 0.3s linear;
    }
  }
}

//products list
.filter-price, .filter-wateroof, .filter-origin {
  padding: 25px;
  border-bottom: 1px solid #333;

  & a {
    text-decoration: none;
    color: #525252;
  }
}

//login
.login, .register, .forgotpassword {
  max-width: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0px;

  & form {
    & input[type=text], input[type=password] {
      width: 400px;
      padding: 7px 15px;
      margin: 10px 0;
      outline: none;
      border: 1px solid #bdbdbd;
      border-radius: 0px;

    }

  }
}

.option {
  & a {
    text-decoration: none;
    color: #525252;

    &:hover {
      color: #c89979 !important;
    }
  }
}

.your-order {
  padding: 20px 50px;
}

.bill-info {
  & input {
    margin: 10px 0;
    padding: 5px 8px;
    outline: none;
    border: 1px solid #333;

    &:focus {
      border: 1px solid #c89979 !important;
    }
  }
}

//mobile nav bar
.offcanvas-body {
  & ul {
    padding-left: 0;
  }

  & .nav-item {
    width: 100%;

    &:hover {
      background-color: #333333;

    }
  }

  & .nav-link {
    color: #c89979 !important
  }
}

.brand-list {


  & a {
    width: 120%;
    display: block;
    text-decoration: none;
    color: #c89979;
    font-weight: 700;
    padding: 10px 60px;
    margin-left: -30px;

    &:hover {
      color: #f1f1f1;
      background-color: #c89979;
    }
  }
}

.submenu {
  width: 200px;
  background-color: #fff;
  top: 54px;
  left: 45px;
  z-index: 99;
  list-style: none;
  visibility: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:hover {
    visibility: visible;
    background-color: #fff;
  }

  &-item {
    display: block;
    margin-left: -32px;
  }

  & a {
    display: block;
    text-decoration: none;
    color: #c89979;
    font-weight: 700;
    padding: 10px 32px;

    &:hover {
      color: #fff;
      background-color: #c89979;
      //transition: all 0.2s linear;

    }

  }
}

.subuser {
  width: 200px;
  background-color: #fff;
  top: 33px;
  left: -115px;
  z-index: 2;
  list-style: none;
  visibility: hidden;

  &:hover {
    visibility: visible;
  }

  &-item {
    display: block;
    margin-left: -32px;
  }

  & a {
    display: block;
    text-decoration: none;
    color: #c89979;
    font-weight: 700;

    padding: 10px 32px;

    &:hover {
      color: #fff;
      background-color: #c89979;
      //transition: all 0.3s linear;

    }

  }
}

.menu {
  & .nav-link.active {
    color: #c89979;
  }
}

.brand:hover .submenu, .user:hover .subuser {
  visibility: visible;

}

.user:before {
  position: absolute;
  content: "";
  width: 103px;
  height: 28px;
  background-color: transparent;
  top: 18px;
  left: -47px;
  z-index: 1;
}

.brand:before {
  position: absolute;
  content: "";
  width: 122px;
  height: 39px;
  background-color: transparent;
  top: 31px;
  left: 14px;
  z-index: 1;
}

.contact-form {

  & input {
    margin: 10px 0;
    padding: 10px 8px;
    border: 1px solid #dcd5d5;
    outline: none;
    max-width: 550px;

    &:focus {
      border: 1px solid #c89979;
    }
  }

  & textarea {
    margin: 10px 0;
    padding: 10px 8px;
    border: 1px solid #dcd5d5;
    outline: none;
    max-width: 550px;
    max-height: 100px;

    &:focus {
      border: 1px solid #c89979;
    }
  }
}

.contact-info {
  padding: 20px 50px;
}

.nav-pills .nav-link {
  background-color: transparent;
  color: #c89979 ;
}

.nav-pills .nav-link.active {
  background-color: #333;
  color: #fff ;
}

//details
.detail {
  margin-top: 150px;

  &-main {
    margin-top: 100px;
  }

  &-name {
    font-weight: 700;
    font-size: 30px;
  }

  &-description {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

  &-more {
    border-top: 1px solid #333;
  }
}

.price {
  font-size: 25px;

  &-old {
    text-decoration: line-through;
    color: #b9b4b4;
  }

  &-new {
    color: #c89979;
    font-weight: 700;
  }
}

.px-250 {
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px 0;
  border-bottom: 1px solid #333;
}

.quantity {
  & input {
    width: 50px;
    padding: 10px;
    outline-color: #c89979;
    border: 1px solid #d2cbcb;
    text-align: center;
    margin: 0 5px;

  }
}


footer {
  background: #212529;
}

a {
  color: inherit;
  text-decoration: none;
  //transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
  color: #c89979;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
#btnPassword1,#btnPassword2{
  bottom: 15px;
  right: 10px;
  border: none;
  background-color:transparent;
  & span{
    border: none;
    color: #c89979;
  }
}
